*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

main{
    height: 100vh;
    justify-content: center;
    background-color:rgb(233, 187, 138); ;
}

.aligning{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sectForm{
    background-color: rgb(239, 228, 215);
    height: 500px;
    width: 350px;
    justify-content: space-evenly;
}

#form{
    height: 60%;
    justify-content: space-around;
}

header h1{
    font-size: 2.3rem;
    width: 100%;
    color:rgb(148, 48, 48);
    text-align: center;
}

.number{
    border: 2px solid rgb(210, 126, 102);
    width: 100%;
    font-size: 1.1rem;
    color: rgb(12, 10, 7);
    font-family: "Roboto" , sans-serif;
    padding: 2%;
    background-color: rgb(255, 232, 208);;
    /* padding: 0.5rem; */
}

#operator{
    width: 30%;
    font-size: 1.3rem;
    border-style: none;
    border: 3px solid  rgb(148, 48, 48);
    
}

#button{
    width: 50%;
    height: 20%;
    background-color: rgb(148, 48, 48);
    color: antiquewhite;
    font-size: 1.3rem;
    font-family: "Roboto" , sans-serif;
    border-style: none;
    transition: all 500ms linear;
}

#button:hover{
    cursor: pointer;
    background-color: rgb(52, 15, 13);
}

p{
    font-size: 1.5rem;
    color: rgb(15, 8, 8);
    font-weight: 600;
}